.App {
  padding: 10px 0 0 30px;
  font-family: sans-serif;
}
p {
  margin: 8px 0;
}
em {
  display: inline-block;
  font-weight: 900;
  font-style: normal;
  margin: 0 5px;
  background-color: #faf2f4;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
}
